* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.body-home {
    background-color: #26262E;
    height: 100%;
}

.body-about {
    background-color: #26262E;
    height: 100%;
}

.body-projects {
    background-color: #26262E;
    height: 1080px;
}

.body-contact {
    background-color: #26262E;
    height: 1835px;
}

a {
    text-decoration: none;
}

/* Begin header */

.header {
    width: 100%;
    height: 15px;
    background-color: #000000;
    position: absolute;
}

.naam-header {
    width: 666px;
    height: 212px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
}

.naam {
    color: #ffffff50;
    font-size: 64px;
    font-weight: 1;
    font-family: "Mouse Memoirs", sans-serif;
    cursor: default;
    margin-left: 100px;
    margin-top: 50px;
}

.streepje-naam {
    width: 276px;
    height: 10px;
    border-radius: 50px;
    display: flex;
    background-color: #A5A5A532;
    margin-left: 65px;
}

.container-header-home {
    background-color: #9D9D9D64;
    border-radius: 15px;
    width: 170px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: height 0.3s ease-in-out;
    cursor: pointer;
    border: none;
}

.container-header-home:hover {
    height: 115px;
    width: 170px;
}

.container-header-about {
    background-color: #9D9D9D64;
    border-radius: 15px;
    width: 170px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: height 0.3s ease-in-out;
    cursor: pointer;
    border: none;
}

.container-header-about:hover {
    height: 115px;
    width: 170px;
}

.container-header-projects {
    background-color: #9D9D9D64;
    border-radius: 15px;
    width: 170px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: height 0.3s ease-in-out;
    cursor: pointer;
    border: none;
}

.container-header-projects:hover {
    height: 115px;
    width: 170px;
}

.container-header-contact {
    background-color: #9D9D9D64;
    border-radius: 15px;
    width: 170px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: height 0.3s ease-in-out;
    border: none;
}

.container-header-contact:hover {
    height: 115px;
    width: 170px;
}

.buttons-header {
    gap: 26px;
    text-decoration: none;
    display: flex;
    justify-content: end;
    margin-right: 50px;
    height: 212px;
}

.name-header {
    color: #000000;
    font-size: 32px;
    margin-top: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    resize: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

/* Eind header */



/* Begin body home */

.home {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.image-home {
    width: 55%;
    height: 78.8vh;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-image: url(../images/achtergrond.png);
    align-items: center;
    display: flex;
    justify-content: center;
}

.image-home-img {
    height: 789px;
    width: 55%;
}

.image-home-in-img {
    position: absolute;
    height: 789px;
    width: 1100px;
}

.image-home-in-img-groot {
    width: 396px;
    height: 396px;
    margin-left: 200px;
    margin-bottom: 80px;
}

.image-home-in-img-klein {
    width: 244px;
    margin-left: 50px;
}

.tekst-code {
    font-family: "Roboto", sans-serif;
    font-size: 165px;
    font-style: normal;
    color: #fff;
    margin-left: 170px;
    cursor: default;
}

.inleiding-naam {
    position: relative;
    width: 45%;
    margin-bottom: 200px;
    right: 10px;
}

.inleiding-naam-groot {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    color: #E8E8E8;
    margin-top: 130px;
    cursor: default;
}

.inleiding-naam-klein {
    font-family: "Montserrat", sans-serif;
    font-size: 55px;
    color: #C6C6C6;
    cursor: default;
    margin-top: 30px;
}

/* Eind body home */



/* Begin body about */

.about-pagina {
    display: flex;
    flex-direction: row;
}

.recht-streep {
    background-color: #000000;
    width: 46px;
    height: 612px;
    border-radius: 1000px;
    margin-top: 75px;
    margin-left: 300px;
}

.tekst-about {
    display: flex;
    flex-direction: column;
    width: 1324px;
    gap: 64px;
    margin-top: 78px;
    cursor: default;
}

.tekst-groot {
    color: #DEDEDE;
    font-size: 86px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    cursor: default;
}

.tekst-klein {
    color: #DEDEDE;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    cursor: default;
}

/* Eind body about */



/* Begin body projects */

.tekst-projects {
    color: #7C7C7C;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    cursor: default;
    margin-top: 150px;
    margin-left: 200px;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 150px;
}

.pinkgoose-box {
    width: 708px;
    height: 691px;
    background-image: url(../images/artworks.png);
    border-radius: 65px;
}

.box-in-pinkgoose {
    width: 708px;
    height: 450px;
    background-color: #000000;
    border-radius: 65px;
    margin-top: 241px;
    display: flex;
    flex-direction: column;
}

.tekst-pinkgoose-groot {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.tekst-pinkgoose {
    color: #fff;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    cursor: default;
    margin-left: 50px;
    margin-top: 50px;
}

.progammas {
    width: auto;
    height: 80px;
    margin-top: 35px;
}

.button-source-website {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 130px;
    margin-top: 50px;
}

.button-source {
    background-color: #47454567;
    width: 169px;
    height: 81px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.button-website {
    background-color: #312D5A24;
    width: 169px;
    height: 81px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.tekst-pinkgoose-klein {
    width: 640px;
    height: 100px;
    margin-top: 60px;
    margin-left: 50px;
}

.tekst-pinkgoose-lang {
    color: #fff;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    cursor: default;
}

.mastermind-box {
    width: 708px;
    height: 691px;
    background-image: url(../images/schermafbeelding-2024-11-25-111858.png);
    border-radius: 65px;
}

.box-in-mastermind {
    width: 708px;
    height: 450px;
    background-color: #000000;
    border-radius: 65px;
    margin-top: 241px;
    display: flex;
    flex-direction: column;
}

.tekst-mastermind-groot {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.tekst-mastermind {
    color: #fff;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    cursor: default;
    margin-left: 50px;
    margin-top: 50px;
}

.tekst-mastermind {
    color: #fff;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    cursor: default;
    margin-left: 50px;
    margin-top: 50px;
}

.tekst-mastermind-klein {
    width: 640px;
    height: 100px;
    margin-top: 80px;
    margin-left: 50px;
}

.tekst-mastermind-lang {
    color: #fff;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    cursor: default;
}

/* Eind body projects */



/* Begin body contact */

.vragen {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.vragen-box {
    background-color: #1F1F25;
    width: 858px;
    height: 287px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 5px solid #000000;
    gap: 96px;
}

.tekst-vragen-groot {
    color: #ffffff50;
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    cursor: default;
}

.tekst-vragen-klein {
    color: #ffffff50;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    cursor: default;
}

.contact-mij-bereiken {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    gap: 156px;
}

.contact-mij-bereiken-box {
    background-color: #1F1F25;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 5px solid #000000;
    cursor: pointer;
}

.contact-mij-bereiken-box-tekst {
    color: #ffffff50;
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
}

.contact-mij-bereiken-box-tekst-email {
    color: #ffffff50;
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-top: 50px;
}

/* Eind body contact */



/* Begin footer */

.footer-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.footer-circle {
    width: 60px;
    height: 60px;
    background-color: #1F1F25;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-decoration: none;
    border: 2px solid #000000;
}

.footer-circle img {
    color: #000000;
    width: 40px;
    height: 40px;
}

.footer-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px 0;
    margin-right: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.footer-container-projects-contact {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    background-color: #26262E;
    padding: 20px 0;
    margin-top: 300px;
    margin-right: 20px;
    bottom: 0;
    right: 0;
}

/* Eind footer */

/* Begin responsive */

@media only screen and (max-width: 1800px) {

    /* --------projects--------*/
    .projects {
        flex-direction: column;
    }

    .tekst-projects {
        margin-left: 100px;
    }

    /* --------contact--------*/
    .contact-mij-bereiken-box {
        width: 350px;
        height: 350px;
    }

    .contact-mij-bereiken-box-tekst {
        font-size: 54px;
    }

    .contact-mij-bereiken-box-tekst-email {
        font-size: 54px;
    }

    .logos {
        width: 193px;
        height: 186px;
    }

    .logos-mail {
        width: 222px;
        height: 300px;
    }

    .logos-tel {
        width: 112px;
        height: 180px;
    }
}

@media only screen and (max-width: 1700px) {

    /* --------home--------*/
    .image-home-in-img-groot {
        width: 296px;
        height: 296px;
        margin-left: 100px;
    }

    .image-home-in-img-klein {
        width: 144px;
        margin-left: 100px;
    }

    .tekst-code {
        font-family: "Roboto", sans-serif;
        font-size: 165px;
        font-style: normal;
        color: #fff;
        margin-left: 170px;
    }

    .inleiding-naam-groot {
        font-size: 40px;
        margin-top: 130px;
        margin-bottom: 30px;
    }

    .inleiding-naam-klein {
        font-size: 35px;
    }
     /* --------about--------*/

    .tekst-klein {
        font-size: 35px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1500px) {

    /* --------header--------*/
    .naam-header {
        display: none;
    }

    .buttons-header {
        display: flex;
        justify-content: center;
        margin-right: 0px;
        height: 212px;
    }

    /* --------home--------*/
    .image-home-in-img-groot {
        width: 266px;
        height: 266px;
        margin-left: 50px;
        margin-bottom: 80px;

    }

    .image-home-in-img-klein {
        width: 120px;
        margin-left: 100px;
    }

    .tekst-code {
        font-size: 130px;
        margin-left: 130px;
    }

    .inleiding-naam-groot {
        font-size: 40px;
        margin-top: 130px;
        margin-bottom: 30px;
    }

    .inleiding-naam-klein {
        font-size: 35px;
    }

    /* --------about--------*/
    .recht-streep {
        width: 46px;
        height: 502px;
        border-radius: 1000px;
        margin-top: 75px;
        margin-left: 150px;
    }

    .tekst-groot {
        font-size: 66px;
        margin-left: 10px;
    }

    .tekst-klein {
        font-size: 28px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1400px) {

    /* --------contact--------*/
    .body-contact {
        display: flex;
        flex-direction: column;
    }

    .contact-mij-bereiken {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 300px;
        gap: 156px;
    }

    .contact-mij-bereiken-box {
        width: 350px;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        border: 5px solid #000000;
        cursor: pointer;
    }

    .contact-mij-bereiken-box-tekst {
        font-size: 54px;
    }

    .contact-mij-bereiken-box-tekst-email {
        font-size: 54px;
        margin-top: 50px;
    }

    .logos {
        width: 193px;
        height: 186px;
    }

    .logos-mail {
        width: 222px;
        height: 300px;
    }

    .logos-tel {
        width: 112px;
        height: 180px;
    }
}

@media only screen and (max-width: 1200px) {

    /* --------home--------*/
    .inleiding-naam-groot {
        font-size: 30px;
        margin-top: 130px;
        margin-bottom: 30px;
    }

    .inleiding-naam-klein {
        font-size: 25px;
    }

    .image-home-in-img-groot {
        width: 226px;
        height: 226px;
        margin-left: 20px;
        margin-bottom: 130px;

    }

    .image-home-in-img-klein {
        width: 100px;
        margin-left: 100px;
        margin-bottom: 70px;
    }

    .tekst-code {
        font-size: 100px;
        margin-left: 60px;
    }

    /* --------about--------*/
    .recht-streep {
        background-color: #000000;
        width: 46px;
        height: 502px;
        border-radius: 1000px;
        margin-top: 75px;
        margin-left: 100px;
    }

    .tekst-groot {
        font-size: 56px;
        margin-left: 10px;
    }

    .tekst-klein {
        font-size: 28px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1000px) {

    /* --------contact--------*/
    .vragen-box {
        width: 558px;
        height: 187px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        border: 5px solid #000000;
        gap: 56px;
    }

    .tekst-vragen-groot {
        font-size: 44px;
    }

    .tekst-vragen-klein {
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {

    /* --------header--------*/
    .naam-header {
        display: none;
    }

    .buttons-header {
        display: flex;
        justify-content: center;
        margin-right: 0px;
        height: 212px;
    }

    .container-header-home {
        border-radius: 15px;
        width: 100px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: height 0.3s ease-in-out;
        cursor: pointer;
        border: none;
    }

    .container-header-home:hover {
        height: 115px;
        width: 100px;
    }

    .container-header-about {
        border-radius: 15px;
        width: 100px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: height 0.3s ease-in-out;
        cursor: pointer;
        border: none;
    }

    .container-header-about:hover {
        height: 115px;
        width: 100px;
    }

    .container-header-projects {
        border-radius: 15px;
        width: 100px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: height 0.3s ease-in-out;
        cursor: pointer;
        border: none;
    }

    .container-header-projects:hover {
        height: 115px;
        width: 100px;
    }

    .container-header-contact {
        border-radius: 15px;
        width: 100px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        transition: height 0.3s ease-in-out;
        border: none;
    }

    .container-header-contact:hover {
        height: 115px;
        width: 100px;
    }

    .name-header {
        font-size: 18px;
        font-weight: 600;
    }

    /* --------home--------*/
    .inleiding-naam-groot {
        font-size: 20px;
        margin-top: 130px;
        margin-bottom: 30px;
    }

    .inleiding-naam-klein {
        font-size: 15px;
    }

    .image-home-in-img-groot {
        display: none;
    }

    .image-home-in-img-klein {
        display: none;
    }

    .tekst-code {
        display: none;
    }

    /* --------about--------*/
    .recht-streep {
        width: 46px;
        height: 402px;
        border-radius: 1000px;
        margin-top: 75px;
        margin-left: 100px;
    }

    .tekst-groot {
        font-size: 46px;
        margin-left: 10px;
    }

    .tekst-klein {
        font-size: 21px;
        margin-left: 10px;
    }

    /* --------projects--------*/
    .pinkgoose-box {
        width: 508px;
        height: 491px;
    }

    .box-in-pinkgoose {
        width: 508px;
        height: 250px;
    }

    .tekst-pinkgoose {
        margin-top: 35px;
    }

    .progammas {
        height: 50px;
    }

    .button-source-website {
        gap: 50px;
    }

    .button-source {
        background-color: #47454567;
        width: 159px;
        height: 71px;
        border-radius: 24px;
        border: none;
        cursor: pointer;
    }

    .button-website {
        background-color: #312D5A24;
        width: 159px;
        height: 71px;
        border-radius: 24px;
        border: none;
        cursor: pointer;
    }

    .img-github {
        width: 69px;
        height: 41px;
    }

    .tekst-pinkgoose-klein {
        width: 440px;
        height: 20px;
        margin-top: 10px;
    }

    .tekst-pinkgoose-lang {
        font-size: 12px;
    }

    .mastermind-box {
        width: 508px;
        height: 491px;
    }

    .box-in-mastermind {
        width: 508px;
        height: 250px;
    }

    .tekst-mastermind-groot {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .tekst-mastermind {
        margin-top: 30px;
    }

    .tekst-mastermind-klein {
        width: 440px;
        height: 20px;
        margin-top: 10px;
    }

    .tekst-mastermind-lang {
        font-size: 12px;
    }
}

@media only screen and (max-width: 625px) {

    /* --------about--------*/
    .tekst-about {
        display: flex;
        flex-direction: column;
        width: 1324px;
        gap: 30px;
        margin-top: 78px;
    }

    .recht-streep {
        width: 46px;
        height: 302px;
        border-radius: 1000px;
        margin-top: 75px;
        margin-left: 50px;
    }

    .tekst-groot {
        font-size: 36px;
        margin-left: 10px;
    }

    .tekst-klein {
        font-size: 16px;
        margin-left: 10px;
    }

    /* --------projects--------*/
    .pinkgoose-box {
        width: 408px;
        height: 491px;
    }

    .box-in-pinkgoose {
        width: 408px;
        height: 250px;
    }

    .tekst-pinkgoose {
        margin-top: 30px;
        font-size: 30px;
    }

    .progammas {
        height: 30px;
    }

    .button-source-website {
        gap: 50px;
    }

    .button-source {
        background-color: #47454567;
        width: 159px;
        height: 71px;
        border-radius: 24px;
        border: none;
        cursor: pointer;
    }

    .button-website {
        background-color: #312D5A24;
        width: 159px;
        height: 71px;
        border-radius: 24px;
        border: none;
        cursor: pointer;
    }

    .img-github {
        width: 69px;
        height: 41px;
    }

    .tekst-pinkgoose-klein {
        width: 340px;
    }

    .tekst-pinkgoose-lang {
        font-size: 8px;
    }

    .mastermind-box {
        width: 408px;
        height: 491px;
    }

    .box-in-mastermind {
        width: 408px;
        height: 250px;
    }

    .tekst-mastermind-groot {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .tekst-mastermind {
        margin-top: 30px;
        font-size: 30px;
    }

    .tekst-mastermind-klein {
        width: 340px;
    }

    .tekst-mastermind-lang {
        font-size: 8px;
    }

/* --------contact--------*/
.vragen {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.vragen-box {
    width: 358px;
    height: 127px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 5px solid #000000;
    gap: 36px;
}

.tekst-vragen-groot {
    font-size: 24px;
}

.tekst-vragen-klein {
    font-size: 10px;
}

.contact-mij-bereiken-box {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 5px solid #000000;
    cursor: pointer;
}

.contact-mij-bereiken-box-tekst {
    font-size: 34px;
}

.contact-mij-bereiken-box-tekst-email {
    font-size: 34px;
    margin-top: 50px;
}

.logos {
    width: 133px;
    height: 126px;
}

.logos-mail {
    width: 162px;
    height: 240px;
}

.logos-tel {
    width: 72px;
    height: 130px;
}
}

@media only screen and (max-width: 500px) {
    /* --------about--------*/
    .tekst-about {
        display: flex;
        flex-direction: column;
        width: 1324px;
        gap: 25px;
        margin-top: 78px;
    }

    .recht-streep {
        width: 46px;
        height: 232px;
        border-radius: 1000px;
        margin-top: 75px;
        margin-left: 50px;
    }

    .tekst-groot {
        font-size: 26px;
        margin-left: 10px;
    }

    .tekst-klein {
        font-size: 12px;
        margin-left: 10px;
    }
}

/* Eind responsive */